
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* Tailwind’s layers (must follow imports) */
@import "tailwindcss";



@theme {

        --font-sans: "Plus Jakarta Sans", sans-serif;
    
        --color-primary-1: #6F00FF;
        --color-primary-2: #5f01d9;
        --color-secondary-1: #FF9BFF;
        --color-tertiary-1: #39BEAB;
        --color-form-control-color: var(--primary-1);

        --shadow-color: var(--color-primary-1);
        

}



body {
    @apply font-sans font-medium;
    @apply cursor-[url("../assets/arrow-pointer.png")];
    @apply bg-tertiary-1/50 bg-[radial-gradient(theme('colors.gray.500')_1.5px,transparent_0)] bg-[length:40px_40px] bg-[-19px_-19px] bg-fixed
}

title {
    @apply text-2xl font-bold;
}

h1 {
    @apply text-3xl font-bold;
}

h2 {
    @apply text-xl font-semibold;
}

h3 {
    @apply text-xl font-semibold;
}
