
:root {
  --primary-1: #6F00FF;
  --primary-2: #5f01d9;
  --secondary-1: #FF9BFF;
  --tertiary-1: #39BEAB;
  --form-control-color: var(--primary-1);
  /* --primary-2: #1E88E5;
  --primary-3: #FDD835;

  --border: #CDD9ED;
  --border-hover: #99A3BA;
  --text-color: #6C7486;
  --text-color-headline: #3F4656;

  --shadow: rgba(22, 30, 50, .04); */
}

body {
  background-color: rgb(218, 200, 227);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

p {
  color: white;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1200px;
}

.content-item {
  margin: 2rem;
  flex: 1;
}

.container {
  background-color: white;
  border: 1px solid rgb(167, 129, 191);
  padding: 1rem 1rem;
  border-radius: 5px;
  align-content: flex-end;
  display: flex;
}

.container .color {
  flex: 1;
  margin: 2rem;
}

.color-item {
  padding: 1em;
  margin-bottom: 0.5rem;
  box-shadow: black 4px 4px;
}

#primary .color-item {
  background-color: var(--primary-1);
}

#secondary .color-item {
  background-color: var(--secondary-1);
}

#tertiary .color-item {
  background-color: var(--tertiary-1);
}

.color-shades {
  display: flex;
  box-shadow: black 4px 4px;
  overflow: hidden; /* for the border radius to apply */
}

/* primary color  */
#primary .color-shades .one {
  background-color: var(--primary-1);
  opacity: 0.8;
}

#primary .color-shades .two {
  background-color: var(--primary-1);
  opacity: 0.6;
}

#primary .color-shades .three {
  background-color: var(--primary-1);
  opacity: 0.4;
}

#primary .color-shades .four {
  background-color: var(--primary-1);
  opacity: 0.2;
}

/* secondary color  */
#secondary .color-shades .one {
  background-color: var(--secondary-1);
  opacity: 0.8;
}

#secondary .color-shades .two {
  background-color: var(--secondary-1);
  opacity: 0.6;
}

#secondary .color-shades .three {
  background-color: var(--secondary-1);
  opacity: 0.4;
}

#secondary .color-shades .four {
  background-color: var(--secondary-1);
  opacity: 0.2;
}

/* tertiary color  */
#tertiary .color-shades .one {
  background-color: var(--tertiary-1);
  opacity: 0.8;
}

#tertiary .color-shades .two {
  background-color: var(--tertiary-1);
  opacity: 0.6;
}

#tertiary .color-shades .three {
  background-color: var(--tertiary-1);
  opacity: 0.4;
}

#tertiary .color-shades .four {
  background-color: var(--tertiary-1);
  opacity: 0.2;
}

.color-shades div {
  height: 40px;
  flex: 1;
}

/* CHECKBOXES */
.checkbox-container { /* centers the input and the label */
  display: flex;
  /* align-items: center; */
  gap: 0.5rem;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input[type=checkbox] {
  margin: 0px;
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border: 0.25em solid var(--primary-1);
  cursor: pointer;
  display: grid;
  place-content: center;
}

input[type=checkbox]::before {
  content: "";
  width: 0.7em;
  height: 0.7em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary-1);
  border-radius: 0.15em;
}

input[type=checkbox]:checked::before {
  transform: scale(1);
}

input[type=checkbox]:hover {
  background-color: #e7dbfb;
}

input[type=checkbox]:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

input[type=checkbox]:focus {
  outline: max(3px, 0.25em) solid color-mix(in srgb, var(--form-control-color) 30%, transparent);
  outline-offset: 0px;
}

/* input[type="checkbox"]:checked:disabled::before {
  opacity: 0.3;
} */
.switches {
  display: flex;
  gap: 2rem;
}

/* RADIO BUTTONS */
.radio-container {
  display: flex;
  /* align-items: center; */
  gap: 0.5rem;
}

.radios {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input[type=radio] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0px;
  color: var(--form-control-color);
  width: 1.5em;
  height: 1.5em;
  border: 0.25em solid var(--form-control-color);
  border-radius: 50%;
  /* transform: translateY(-0.1em); other way to stay besides the first line of text */
  cursor: pointer;
  display: grid; /* for aligning the before and after states */
  place-content: center;
}

input[type=radio]::before {
  content: "";
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary-1);
}

input[type=radio]:checked::before {
  transform: scale(1);
}

input[type=radio]:hover {
  background-color: #e7dbfb;
}

input[type=radio]:focus {
  outline: max(3px, 0.25em) solid color-mix(in srgb, var(--form-control-color) 30%, transparent);
  outline-offset: 0px;
}

input[type=radio]:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

/* TOGGLES */
.toggles {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 2.4em;
  height: 1.5em;
}

.slider { /* background and knob animation */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(172, 172, 172);
  border-radius: 50px;
  cursor: pointer;
  transition: 120ms transform ease-in-out;
}

.slider::before { /*  knob  */
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 0.25em;
  bottom: 0.25em;
  background-color: white;
  cursor: pointer;
  transition: 120ms transform ease-in-out;
  border-radius: 50px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.toggle input:disabled {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.toggle input:checked + .slider::before {
  transform: translateX(0.85em);
}

.toggle input:checked + .slider {
  background-color: var(--primary-1);
}

.toggle input:disabled + .slider {
  cursor: not-allowed;
  opacity: 0.3;
}

.toggle input:disabled + .slider::before {
  cursor: not-allowed;
}

/* BUTTONS */
#buttons .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container .buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.button {
  padding: 0.5em 1em;
  border: 3px black solid;
  box-shadow: black 4px 4px;
  display: flex;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
}
.button:active {
  box-shadow: none;
  transform: translate(4px, 4px);
}

.primary {
  background-color: var(--primary-1);
  color: white;
}
.primary:hover {
  background-color: var(--primary-2);
}

.secondary {
  background-color: white;
  color: black;
}
.secondary:hover {
  background-color: var(--primary-1);
  color: white;
}

.tertiary {
  background-color: transparent;
  color: var(--primary-1);
  border: 3px transparent solid;
  box-shadow: none;
}
.tertiary:hover {
  background-color: rgba(0, 0, 0, 0.068);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.3;
  pointer-events: none;
}

.icon {
  gap: 0.5rem;
}

/* LINKS */
a {
  color: var(--primary-1);
  border-bottom: var(--primary-1) 2px solid;
  cursor: pointer;
}
a:hover {
  border-bottom: none;
}


